body {
  padding-top: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  height: 1px;
  background: $light-grey;
  border: 0;
  width: 100%;
  display: block;
}

ul li,
.editor-li {
  line-height: 15px;
  list-style-type: disc;
  //list-style-position: inside;
  font-size: 11px;
  letter-spacing: 0.20rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.clearfix { @include clearfix; }

.is-hidden    { display:    none   !important; }
.is-invisible { visibility: hidden !important; }

.block        { display: block        !important; }
.inline       { display: inline       !important; }
.inline-block { display: inline-block !important; }

.left  { float: left  !important; }
.right { float: right !important; }

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}