.bg-pale-yellow { background-color: $pale-yellow !important; }
.bg-gold        { background-color: $gold !important; }
.bg-pale-pink   { background-color: $pale-pink !important; }
.bg-pink        { background-color: $pink !important; }

.gold {color: $gold !important;}
.dark-grey {color: $dark-grey !important;}