// variables
$garamond-font-stack: "adobe-garamond-pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !default;


// basic tags
html, body {
  font-size: 15px;
  line-height: 25px;
  font-family: $garamond-font-stack;
  color: $dark-grey;
}
h1 {
  font-size: 30px;
  line-height: 46px;
  letter-spacing: 0.3rem;
  color: $gold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h2 {
  font-size: 30px;
  line-height: 46px;
  margin-bottom: 10px;

  &.h1-mimic {
    @extend h1;
    margin-bottom: 0;
  }
}
h3 {
  font-size: 26px;
  line-height: 36px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
h5 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
h6 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

p {
  margin-bottom: 30px;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

u {
  text-decoration: underline;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  color: $gold;
  text-decoration: underline;
}

// KLE specific
.text-large {
  font-size: 20px;
  line-height: 30px;
}
.person-title,
.entry-cta {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.15rem;
}
.tag {
  color: $gold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.20em;
  text-transform: uppercase;
}

.with-line {
  text-align: center;
  color: $gold;

  & span {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index:5;
    padding: 0 1em;
    max-width: 80%;
    box-sizing: border-box;
  }
}
.with-line::after {
  @extend hr;
  position: relative;
  z-index: 4;
  content: "";
  top: -24px;
}


// generic 
.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }
.text-upper  { text-transform: uppercase !important; }