/*
 * @link: https://stackoverflow.com/a/17181946/1952517
 * Sample Usage:
 @include placeholder {
    font-style:italic;
    color: white;
    font-weight:100;
}
 */

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}