/*
Theme Name: DS Theme
Author: Ellytronic Media
Author URI: https://ellytronic.media
Description: Dynamic Serving example theme, developed by Ellytronic Media LLC
Version: 1.0.0
License: Not specified
*/
/*
 * @link: https://stackoverflow.com/a/17181946/1952517
 * Sample Usage:
 @include placeholder {
    font-style:italic;
    color: white;
    font-weight:100;
}
 */
body {
  background: #f8dad2; }

/*# sourceMappingURL=style-desktop.css.map */
