/*
 * @link: https://stackoverflow.com/a/17181946/1952517
 * Sample Usage:
 @include placeholder {
    font-style:italic;
    color: white;
    font-weight:100;
}
 */
body {
  background: #c49c69; }

/*# sourceMappingURL=style-mobile.css.map */
